/**
 * Form
 * 
 * The Form plugin is a third-party plugin that lets you create and display forms on your installation of Wolf CMS.
 * 
 * @package     Plugins
 * @subpackage  form
 * 
 * @author      Nic Wortel <nic.wortel@nth-root.nl>
 * @copyright   Nic Wortel, 2012
 * @version     0.1.5
 */

@import "modules/_wolfcms-plugin.scss";

body#body_plugin_form div#content {

    @include plugin();

    th,
    td {
        &.number {
            width: 50px;
            text-align: right;

            &.long {
                width: 70px;
            }
        }

        &.price {
            width: 80px;
            text-align: right;    
        }

        &.delete,
        &.set_required {
            width: 60px;
            vertical-align: middle;
            text-align: center;    
        }

        &.thumbnail {
            width: 60px;
        }
    }

    td .not-applicable {
        color: #bbb;
    }

    input.number {
        text-align: right;
    }

    textarea {
        width: 100% !important;
        min-height: 100px;
    }

    span.actions {
        visibility: hidden;
    }

    tr:hover span.actions {
        visibility: visible;
    }

    label {
        font-weight: bold;
    }

}
