@mixin plugin() {
    h1 {
        margin-bottom: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
        vertical-align: top;
    }

    table {
        width: 100%;
    }

    th {
        background-color: #e6e6e6;
    }

    tr:nth-child(odd) {
        background-color: #fff;
    }
    tr:nth-child(even) {
        background-color: #f4f4f4;
    }

    th,
    td {
        padding: 2px 4px;
        text-align: left;
    }

    td.label {
        width: 180px;
        text-align: right;
    }

    th a {
        padding-right: 11px;
    }
    th.sorted.ascending a {
        background-image:url('images/sort_up.png');
        background-repeat:no-repeat;
        background-position: right center;
    }
    th.sorted.descending a {
        background-image:url('images/sort_down.png');
        background-repeat:no-repeat;
        background-position: right center;
    }
}